.edit-box {
  border-top: transparent dashed 1px;
  border-bottom: transparent dashed 1px;
  transition-property: border-color;
  transition-duration: 1s; }
  .edit-box > .edit-info {
    background-color: var(--secondary-color);
    border-bottom-right-radius: 99rem;
    border-top-right-radius: 99rem;
    display: inline-block;
    height: 2rem;
    width: 1.5rem;
    margin-left: -1rem;
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    text-overflow: clip;
    overflow: hidden;
    color: var(--secondary-color);
    transition-property: width, color;
    transition-duration: 1s; }
    .edit-box > .edit-info:hover {
      border-top: var(--secondary-color) dashed 1px;
      border-bottom: var(--secondary-color) dashed 1px;
      width: 30rem;
      color: var(--secondary-inverse-color); }
    .edit-box > .edit-info > a {
      visibility: hidden;
      padding: 0.3em 0em;
      text-align: end;
      margin: 0px;
      background-color: var(--secondary-color);
      color: var(--secondary-inverse-color); }
      .edit-box > .edit-info > a::after {
        content: '\270E'; }
    .edit-box > .edit-info:hover > a {
      visibility: visible; }
