@import "color.scss";
@import "size.scss";


:root {
    --info-content-width: 400px;
    --main-content-width: 560px;
    --info-main-margin: 16px;
    --outline-width: 320px;

    --edit-box-padding: 1rem;

    --compact-width: #{ $info-content-width + $main-content-width + $info-main-margin + $outline-width};
}

.noScript {
    visibility: collapse;
    display: none;

    @media (scripting: none) {
        visibility: visible;
        display: unset;
    }
}

.script {
    visibility: visible;

    @media (scripting: none) {
        visibility: collapse;
        display: none;
    }
}

/**
 * BEGIN OUTLINE
 **/
nav.outline {

    .versionList {
        width: 100%;

        a[selected] {
            font-weight: bold;
        }
    }


    position: sticky;



    top: var(--main-nav-height);
    height: calc(100vh - var(--main-nav-height));

    padding: 1rem;
    padding: 1rem;

    border-right: var(--secondary-color) solid 3px;
    margin-bottom: var(--main-nav-height);
    float: left;
    width: var(--outline-width);

    background-color: var(--main-bg-color);

    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


    @media (max-width: #{$compact-width}) {
        position: static;
        float: unset;

        top: unset;
        height: unset;
        padding: unset;
        padding-top: 1rem;

        border-right: unset;
        margin-bottom: unset;
        width: unset;

        background-color: unset;

        overflow-y: unset;
        overflow-x: unset;
        box-shadow: unset;

        margin-left: calc((100% - var(--main-content-width) - var(--info-content-width)) / 2);
        margin-right: calc((100% - var(--main-content-width) - var(--info-content-width)) / 2)
    }

    @media (max-width: $narrow-width) {
        margin-left: calc((100% - var(--main-content-width)) / 2);
        margin-right: calc((100% - var(--main-content-width)) / 2)
    }

    @media (max-width: $smalest-width) {
        width: unset;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

nav.outline::before {
    clear: both;
}

nav.outline:hover {
    @media (min-width: #{$compact-width}) {
        overflow-y: auto;
    }
}



nav.outline>*:last-child {
    margin-bottom: 2em;
}





/* END OUTLINE*/

main {
    margin-left: var(--outline-width);


    @media (max-width: #{$compact-width}) {
        margin-left: unset;
    }

    // margin-left: (100vw - var(--outline-width)) - (var(--main-content-width) + var(--info-content-width)) / 2;
    &>.edit-box:last-child {
        border-bottom: 1px #{$color-primary-0} solid;

    }
    &>.edit-box {

        border-left: 1px #{$color-primary-0} solid;
        border-right: 1px #{$color-primary-0} solid;
        padding-left: 1rem;
        padding-right: 1rem;

        margin-left: calc((100% - var(--main-content-width) - var(--info-content-width) - var(--edit-box-padding) - var(--edit-box-padding) - var(--info-main-margin)) / 2);
        margin-right: calc((100% - var(--main-content-width) - var(--info-content-width) - var(--edit-box-padding) - var(--edit-box-padding) - var(--info-main-margin)) / 2);

        @media (max-width: #{$compact-width}) {
            margin-left: calc((100% - var(--main-content-width) - var(--info-content-width) - var(--edit-box-padding) - var(--edit-box-padding) - var(--info-main-margin)) / 2);
            margin-right: calc((100% - var(--main-content-width) - var(--info-content-width) - var(--edit-box-padding) - var(--edit-box-padding) - var(--info-main-margin)) / 2);
        }

        @media (max-width: $narrow-width) {
            margin-left: calc((100% - var(--main-content-width)) / 2);
            margin-right: calc((100% - var(--main-content-width)) / 2);
        }

        @media (max-width: $smalest-width) {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        &>:not(aside) {
            width: var(--main-content-width);

            @media (max-width: $smalest-width) {
                width: unset;
            }
        }

        &>aside {

            &.Undefined {
                --box-color: magenta;
                --header: 'ERROR';
            }

            &.Sample {
                --box-color: #{$color-primary-0};
                --header: 'Beispiel';
            }

            &.GameMaster {
                --box-color: #{$color-secondary-1-0};
                --header: 'Spielleiter';
            }

            &.Optional {
                --box-color: #{$color-secondary-2-0};
                --header: 'Optional';
            }

            &.Information {
                --box-color: #{$color-complement-0};
                --header: 'Info';
            }



            float: right;

            @media (max-width: $narrow-width) {
                float: none;
                width: var(--main-content-width);
                margin-left: unset;
            }

            @media (max-width: $smalest-width) {
                width: unset;
            }

            width: calc(var(--info-content-width));
            margin-left: var(--info-main-margin);
            max-width: unset;


            background: var(--secondary-color);
            color: var(--secondary-inverse-color);

            font-size: 1em;

            margin-bottom: 1em;

            position: relative;
            display: grid;
            grid-auto-rows: auto;
            grid-template-columns: auto 1fr;
            // padding: 2.5em 8px .5em 8px;
            // overflow: visible;

            border-color: var(--box-color);
            border-style: solid;
            border-width: 2px;
            // border-right-width: 2px;
            // border-bottom-width: 2px;
            // border-top-width: 2px;
            // border-left-width: var(--box-side-header-thiknes);

            &::before {
                content: var(--header);
                font: 1.5em Georgia, Serif;
                background: var(--box-color);
                color: var(--primary-inverse-color);
                padding: 0.67em 0.2em;
                margin: 0;
                margin-right: 0.2em;
                grid-row: 1/999;
                text-align: end;

                writing-mode: vertical-rl;
                // text-orientation: sideways-right;

                transform: rotate(180deg);
                transform-origin: center center;
            }

            table>tbody>tr {
                background-color: var(--secondary-color);
                color: var(--secondary-inverse-color);
            }

            table>tbody>tr:nth-child(even) {
                background-color: var(--primary-color);
                color: var(--primary-inverse-color);
            }


        }


        aside~aside {
            clear: right;
        }





    }
}





.edit-box {
    >a {
        display: none;
    }
}

.pagination {
    text-align: center;


    width: var(--main-content-width);
    // margin-left: var(--outline-width);

    // @media (max-width: #{$compact-width}) {
    //     margin-left: unset;
    // }


    margin-left: calc((100% - var(--main-content-width) - var(--info-content-width) - var(--outline-width)) / 2 + var(--outline-width));
    margin-right: calc((100% - var(--main-content-width) - var(--info-content-width) - var(--outline-width)) / 2);

    @media (max-width: #{$compact-width}) {
        margin-left: calc((100% - var(--main-content-width) - var(--info-content-width)) / 2);
        margin-right: calc((100% - var(--main-content-width) - var(--info-content-width)) / 2);
    }

    @media (max-width: $narrow-width) {
        margin-left: calc((100% - var(--main-content-width)) / 2);
        margin-right: calc((100% - var(--main-content-width)) / 2);
    }

    @media (max-width: $smalest-width) {
        margin-left: 1rem;
        margin-right: 1rem;
        width: unset;
    }





}