@using Nota.Site.Generator
@using Nota.Site.Generator.Stages

<h1>Willkommen auf Nota-Game</h1>

<p><em>Diese Projekt befindet sich noch in einem frühen Stadium und diese Seite
befindet sich in der alpha phase. Sie enthält noch viele Fehler und wird sich im laufe der Zeit noch Stark ändern biss sie fertig ist. </em></p>

<p>Nota ist ein High Fantasy Rollenspiel System, dem ein detailreiches Regelsystem zu grunde liegt.</p>

<p>Es sind noch nicht viele Regeln geschrieben, aber man kann bereits einen
grundlegenden eindruck von Talent und Kampfsystem erhalten.</p>


 